---
import Base from "@layouts/Base.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import { humanize, markdownify } from "@lib/utils/textConverter";
const tags = await getTaxonomy('posts', 'tags');
---

<Base title={"tags"}>
    <section class="section">
      <div class="container text-center">
        <h1 class="h2 mb-16">{markdownify('Tags')}</h1>
        <ul class="space-x-4">
          {tags.map((category, i) => (
            <li  class="inline-block">
              <a
                href={`/tags/${category}`}
                class="rounded-lg bg-theme-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white"
              >
                &#8226; {category && humanize(category)}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </section>
  </Base>